#loader{
    width:300px;
    height:300px;
    border-radius:50%;
    border:50px solid #999999;
    border-top: 50px solid #555555 ;
    animation: spinAnimate 1s steps(20) 0s infinite normal;

}
@keyframes spinAnimate {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
}